@using MDT.ViewModels
@using MDT.Models
@using MDT.Models.DTO
@model UserVM
@{
    GroupDTO group = (GroupDTO)Session["group"];
    UserDTO user = (UserDTO)Session["user"];
}
<div>
    <h2>Balance Details</h2>
    @if (Model.Balances.Count > 0)
    {
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>Ledger Name</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>

                @foreach (Balance b in @Model.Balances)
                {
                    <tr>
                        <td>@b.Ledger.LedgerName</td>
                        <td>$@b.CurrentBalance</td>
                    </tr>
                }


            </tbody>
        </table>
    }
    else
    {
        <p> No balances to display.</p>
    }
</div>