@using MDT.ViewModels
@model UserVM
@{
    ViewBag.Title = "My Page";
}


<div class="row">
    <div class="col-md-6">
        <h1>About Me</h1>
        <p>
            <b>Name: </b> @Model.UserName <br />
            <b>Email: </b> @Model.EmailAddress <br />
            @Html.ActionLink("Change Password", "ChangePass")
        </p>
    </div>
    <div class="col-md-6">
        <h1>Upcoming Draws</h1>
        
    </div>
</div>