@using MDT.ViewModels
@using MDT.Models
@using MDT.Models.DTO
@model UserVM
@{
    ViewBag.Title = "My Page";
    GroupDTO group = (GroupDTO)Session["group"];
    UserDTO user = (UserDTO)Session["user"];
}
<div class="row" id="screen">
    @Html.Partial("info", Model)
</div>