@using MDT.Models.DTO
@model List<UserDTO>
@{ 
    ViewBag.Title = "Group Members";
}

@if (Model.Any())
{
    <h1>List of Members</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email Address</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (UserDTO member in Model)
            { 
                <tr>
                    <td>@member.UserName</td>
                    <td>@member.EmailAddress</td>
                    <td></td>
                    <td>@Html.ActionLink("Kick from Group", "RemoveFromGroup", new {uId = member.UserId, guId = member.CurrentGroupId}, new { @class = "btn btn-danger" })</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>THERE ARE NO MEMBERS OF THIS GROUP</h1>
}