@using MDT.ViewModels;
@model List<GroupVM>
@{
    ViewBag.Title = "Site Groups";
}


<div class="row" id="groupApps">
    @{ 
        Html.RenderPartial("Applications", Model.Where(g => g.IsApproved == null).ToList());
    }
</div>

<br />
<hr />
<br />

<div class="row" id="groupAll">
    @{ 
        Html.RenderPartial("AllGroups", Model.Where(g => g.IsApproved ?? false).ToList());
    }
</div>