@using MDT.Models.DTO
@using MDT.Models
@using MDT.ViewModels

@model TransactionListVM
@{
    UserDTO user = (UserDTO)Session["User"];
    GroupDTO group = (GroupDTO)Session["Group"];
    bool admin = WebManager.IsGroupAdmin(user.CurrentGroupId, user.UserId) || WebManager.HasPermission(user.CurrentGroupId, user.UserId, "Transactions");
    ViewBag.title = $"Transactions for {(admin ? group.GroupName : user.UserName)}";
}

<div id="transactions">
    @{
        Html.RenderPartial("Transactions", Model);
    }
</div>
<hr />
<div id="pending">
    @{
        Html.RenderPartial("TransactionsPending", Model);
    }
</div>



<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.searchPanes.min.js"></script>
<script src="~/Scripts/dataTables.select.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/select.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/searchPanes.dataTables.min.css" />

<script type="text/javascript">
    $(document).on('click', '.btnModal', function () {
        let action = $(this).attr('data-action');
        $('#modaldiv').empty();
        $('#modaldiv').append('<div class="spinnerdiv"><span class="text-primary fa fa-5x fa-spinner fa-spin center"></span></div>');
        $('#popup').modal("show");
        $('#modaldiv').load(action);
    });

</script>