@using MDT.Models.DTO
@using MDT.Models
@using MDT.ViewModels

@model TransactionListVM
@{
    UserDTO user = (UserDTO)Session["User"];
    GroupDTO group = (GroupDTO)Session["Group"];
    bool admin = WebManager.IsGroupAdmin(user.CurrentGroupId, user.UserId) || WebManager.HasPermission(user.CurrentGroupId, user.UserId, "Transactions");
    ViewBag.title = $"Transactions for {(admin ? group.GroupName : user.UserName)}";
}

<div id="transactions">
    @{
        Html.RenderPartial("Transactions", Model);
    }
</div>
<hr />
<div id="pending">
    @{
        Html.RenderPartial("TransactionsPending", Model);
    }
</div>
