
<h2>Could not send email</h2>
<br />
<div>
    <p>Please contact the system administrator.</p>
</div>
<br />
<div>
    @Html.ActionLink("Return to Invite List", "Members", "Group", new { @class = "btn btn-info" })
</div>
