@using MDT.Models
@model User

<h2>User is already a member.</h2>
<br />
<div>
    <p>@Model.UserName is already a member of the group. </p>
</div>
<br />
<div>
    @Html.ActionLink("Return to Invite List", "InviteList", "Group", new { @class = "btn btn-info" })
</div>
