@using MDT.Models.DTO
@using MDT.ViewModels
@model GroupVM
@{
    ViewBag.Title = "Group Members";
    UserDTO user = (UserDTO)Session["User"];
}

<div id="members" class="MemberPanel">
    @{
        Html.RenderPartial("GroupMembers", Model);
    }
</div>
<hr />

<div id="pending" class="MemberPanel">
    @{
        Html.RenderPartial("GroupPending", Model);
    }
</div>
<hr />
<div id="invites" class="MemberPanel">
    @{
        Html.RenderPartial("GroupInvites", Model);
    }
</div>