@model MDT.Models.GroupInvite

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h2>Invite members to your group</h2>
</div>
@using (Ajax.BeginForm("NewInvite", "Group", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "invites", OnSuccess="hideModal" }))
{
    <div class="modal-body">
        <div class="row">
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <div class="row col-xs-10 col-xs-offset-1">
                    @Html.HiddenFor(model => model.GroupId)

                    @Html.TextAreaFor(model => model.EmailAddress, htmlAttributes: new { @class = "form-control", @rows = 5, placeholder = "Email addresses to send invites to. Serparate email addresses with a comma or semicolon." })
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-8">
                        <button type="submit" class="btn btn-sm btn-success" id="btnSendInvite">Send Invite</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}