@model MDT.Models.GroupInvite

@using (Ajax.BeginForm("SendReminder", "Group", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "inviteTable" }))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.HiddenFor(model => model.EmailAddress)
        @Html.HiddenFor(model => model.Group)
        <button type="submit" class="btn btn-sm btn-info" id="btnSendReminder">Send Reminder</button>
    </div>
}