@using MDT.Models
@using MDT.Models.DTO
@model GroupInvite
@{
    GroupDTO group = (GroupDTO)Session["Group"];
}

<h2>Reminder Sent!</h2>
<br />
<div>
    <p>A reminder to join the group @group.GroupName has been sent to @Model.EmailAddress.</p>
</div>
<br />
<div>
    @Html.ActionLink("Return to Invite List", "InviteList", "Group", new { @class = "btn btn-info" })
</div>
