@using MDT.Models.DTO
@using MDT.ViewModels
@model Tuple<DrawVM, List<DrawTypeDTO>, bool>
@{
    bool isPast = (bool)Session["past"];
    ViewBag.Title = Model.Item3 ? "Add a Drawing" : "Edit an Existing Drawing";
}
<div id="createEditForm">
    @Html.Partial("CreateEditDrawForm", Model)
</div>
