@using MDT.Models
@using MDT.Models.DTO
@using MDT.ViewModels
@model DrawTypeVM

@{
    UserDTO user = (UserDTO)Session["User"];
}
<br />
<br />
<div class="row">
    <h3>
        Description
        @if (WebManager.IsGroupAdmin(user.CurrentGroupId, user.UserId) || user.CanManageDrawTypes)
        {
            <button type="button" class="btn btn-xs btn-success btnPanel" title="Edit Description" data-panel="divDesc" data-action="@Url.Action("DrawTypeDescriptionEdit", "Draw", new { id = Model.DrawTypeId })"><span class="fa fa-pencil"></span></button>
        }
    </h3>
</div>

@if (Model.Descriptions.Any())
{
    <div class="row">
        <div class="col-xs-12">
            @foreach (Description d in Model.Descriptions)
            {
                if (!string.IsNullOrEmpty(d.Title))
                {
                    <h3>@d.Title</h3>
                }
                if (!string.IsNullOrEmpty(d.TextBody))
                {
                    <p>@d.TextBody</p>
                }
            }
        </div>
    </div>
}
else
{
    <h3 class="text-danger">No description has been entered for this draw type.</h3>
    <br />
}