<h2>The draw has been updated!</h2>
<br />
<div>
    The draw has been successfully updated.
</div>
<div>
    @Html.ActionLink("Edit Another Draw", "EditList", "Draw", new { @class = "btn btn-info" })
    <br />
    @Html.ActionLink("Return to the Draw Home Page", "Index", "Draw", new { @class = "btn btn-info" })
</div>
