<h2>The draw has been created!</h2>
<br />
<div>
    The draw has been successfully created.
</div>
<div>
    @Html.ActionLink("Create Another Draw", "CreateDraw", "Draw", new { @class = "btn btn-info" })
    <br />
    @Html.ActionLink("Return to the Draw Home Page", "Index", "Draw", new { @class = "btn btn-info" })
</div>
