@using MDT.Models
@using MDT.Models.DTO
@using MDT.ViewModels
@model DrawTypeVM
@{
    ViewBag.Title = $"View {Model.TypeName}";
    UserDTO user = (UserDTO)Session["User"];
    GroupDTO group = (GroupDTO)Session["Group"];
}

<div class="row text-center ">
    <h1>@Model.TypeName</h1>
</div>
<div class="row">

    <div class="col-md-6 col-xs-12" id="divDesc">
        @{
            Html.RenderPartial("DrawTypeDescription", Model);
        }
    </div>

    <div class="col-md-6 col-xs-12">
        <div class="row">
            <div class="col-xs-12" id="divRules">
                @{
                    Html.RenderPartial("DrawTypeRules", Model);
                }
            </div>
        </div>
        @if ((WebManager.IsGroupAdmin(group.GroupId, user.UserId) || user.CanManageDrawTypes) && Model.UserOptions.Any(u => !u.IsApproved))
        {
            <div class="row">
                <div class="col-xs-12" id="divRequests">
                    @{
                        Html.RenderPartial("UserRequests", Model.UserOptions);
                    }
                </div>
            </div>
        }
        <div class="row">
            <div class="col-xs-12" id="divDraws">
                @{
                    Html.RenderPartial("DrawList", Model);
                }
            </div>
        </div>
    </div>
</div>


@if (WebManager.IsGroupAdmin(user.CurrentGroupId, user.UserId))
{
    <script type="text/javascript">
            let ct = @Model.Descriptions.Count;

            $(document).on('click', '#btnAddDesc', function () {
                $('#descedit').append(
                    `<div id="desc-${ct}">
                        <div class="row">
                        <input id="Descriptions_${ct}__SortOrder" name="Descriptions[${ct}].SortOrder" type="hidden" value="${ct}">
                        <input id="Descriptions_${ct}__IsActive" name="Descriptions[${ct}].IsActive" type="hidden" value="True">
                        <div class="col-xs-9">
                        <input class="form-control big-input text-box single-line" data-val="true" data-val-maxlength="Title cannot exceed 50 characters" data-val-maxlength-max="50" id="Descriptions_${ct}__Title" name="Descriptions[${ct}].Title" placeholder="Paragraph Heading" type="text" value="">
                        </div>
                        <div class="col-xs-1 text-right">
                        <button type="button" data-desc-id="${ct}" class="btn btn-xs btn-danger DescDelete" title="Delete"><span class="fa fa-trash-o"></span></button>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-xs-10">
                        <textarea class="form-control" cols="20" id="Descriptions_${ct}__TextBody" name="Descriptions[${ct}].TextBody" placeholder="Paragraph Text" rows="4"></textarea>
                        </div>
                        </div>
                        <br /><br />
                        </div>`);
                ct++;
            });

            $(document).on('click', '.DescDelete', function () {
                let id = $(this).attr('data-desc-id');
                $(`#Descriptions_${id}__IsActive`).val('False');
                $(`#desc-${id}`).hide();
            });

    </script>
}