@using MDT.Models
@model User
@{
    string url = (string)Session["RedirectUrl"];
    Session["RedirectUrl"] = null;
}

<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <h2>Welcome back, @Model.UserName</h2>
        @if (!string.IsNullOrEmpty(url))
        {
            <a href="@url">Continue</a>
        }
        else
        {
            @Html.ActionLink("Continue", "Index", "Home", null, null)
        }
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#Banner').load('@Url.Action("Banner", "Home", null)');
    });
</script>