<h3>
    You must verify your email address before accessing the site.<br />
    Check your email inbox for verification instructions.<br />
    <button type="button" class="btn btn-sm btn-success" id="btnSendVerification">Resend Verification Email</button>
</h3>
