<h3>
    You must verify your email address before accessing the site.<br />
    Check your email inbox for verification instructions.<br />
</h3>
<div id="verify">
    <button type="button" class="btn btn-sm btn-success btnModal" data-action="@Url.Action("SendVerification", "Home", null, null)">Resend Verification Email</button>
</div>
