@using MDT.Models.DTO

@{
    UserDTO user = (UserDTO)Session["User"];
    GroupDTO group = (GroupDTO)Session["Group"];
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
    @if (user == null)
    {
        Html.RenderPartial("SignIn");
    }
    else
    {
        if (user.IsVerified)
        {
            if (group.IsApproved ?? false)
            {
                Html.RenderPartial("Welcome", user);

            }
            else
            {
                Html.RenderPartial("UnverifiedGroup");
            }
        }
        else
        {
            Html.RenderPartial("UnverifiedEmail");
        }
    }
</div>